@model PatientWithStreets
<div class="modal fade" id="modalEdit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Редактирование формы пациента</h1>
            </div>

            <div class="modal-body">
                <div class="col-10">
                    <h3 class="text-center">
                        Редактировать сведения о пациенте
                    </h3>
                    <form action="EditPatient" >
                        <div hidden="hidden">
                            <input asp-for="Patient.Id" value="@Model.Patient.Id" hidden="hidden" />
                        </div>
                        <div>
                            <label asp-for="Patient.IIN"></label>
                            <input type="number" asp-for="Patient.IIN" class="form-control" />
                            <span asp-validation-for="Patient.IIN" class="text-danger text-center"></span>
                        </div>
                        <div>
                            <label asp-for="Patient.Name"></label>
                            <input asp-for="Patient.Name" type="text" class="form-control" />
                            <span asp-validation-for="Patient.Name" class="text-danger text-center"></span>

                        </div>
                        <div>
                            <label asp-for="Patient.Surname"></label>
                            <input asp-for="Patient.Surname" type="text" class="form-control" />
                            <span asp-validation-for="Patient.Surname" class="text-danger text-center"></span>

                        </div>
                        <div>
                            <label asp-for="Patient.Patronymic"></label>
                            <input asp-for="Patient.Patronymic" type="text" class="form-control" />
                            <span asp-validation-for="Patient.Patronymic" class="text-danger text-center"></span>

                        </div>
                        <div>
                            <label asp-for="Patient.StreetId"></label>
                            <select asp-for="Patient.StreetId" class="form-control">
                                @foreach (Street str in Model.Streets)
                                {
                                    <option value=@str.Id>@str.Name</option>
                                }
                            </select>
                            <span asp-validation-for="Patient.StreetId" class="text-danger text-center"></span>

                        </div>
                        <div>
                            <label asp-for="Patient.HouseNumber"></label>
                            <input asp-for="Patient.HouseNumber" type="text" class="form-control" />
                            <span asp-validation-for="Patient.HouseNumber" class="text-danger text-center"></span>

                        </div>
                        <div>
                            <label asp-for="Patient.AppartmentNumber"></label>
                            <input asp-for="Patient.AppartmentNumber" type="text" class="form-control" />
                            <span asp-validation-for="Patient.AppartmentNumber" class="text-danger text-center"></span>

                        </div>
                        <div>
                            <label asp-for="Patient.PhoneNumber"></label>
                            <input asp-for="Patient.PhoneNumber" type="number" class="form-control" />
                            <span asp-validation-for="Patient.PhoneNumber" class="text-danger text-center"></span>

                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-edit="modal">Редактировать</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</div>
